*{
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #ffffff;
}


nav.navbar {
    position: fixed;
    z-index: 1000;
    background-color: black;
}

.navbar_nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    
}

.nav-item{
    color: white;
}

ul{
    list-style: none;
}

.nav-link{ 
    color: white !important;
}

#home{
    height: 100vh;
    background-image: -webkit-linear-gradient(345deg, black 60%, #9694f7 50%);
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    position: relative;
    
} 
#particular{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.pom{
    display: flex;
    float: right;
    /* margin-top: 5%; */
    margin-right: 5%;
    margin-bottom: 5%;
    position: relative;
}

.navbarb{
    text-decoration: none;
}

.word_landing{
    position: relative;
    color: white;
    display: flex;
    margin-top: 29%;
}

.word_landing{
    position: relative;
    color: white;
    display: flex;
    margin-top: 29%;
}

div.polaroid {
    width: 55%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9  ), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-left: 15px;
}
div.container {
    text-align: center;
    padding: 10px 20px;
  }
#about{
    display: flex;
    
}
.download{
    background-color: #000000; 
  color: #ffffff; 
  border: 2px solid #9694f7;
    width: 20%;
    margin-left: 40%;
    margin-top: 30px;
}
.download:hover{
    background-color: #9694f7;
  color: white;
}
.sft_skll{
    margin-top: 10%;
}
.abt_imgw{
    color: #000000;
}
.about_img{
    margin-top: 5px;
    margin-left: 15px;
}
.about_words{
    text-align: center;
}
.abt_wrds{
    flex-wrap: wrap;
    margin-left: 2%;
}
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}
#skills{
    text-align: center;
}

.progress_bar{
    width: 50%;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    margin-right: 50px;
}

#icons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 50px;
}
/* i:hover{
    color: cadetblue;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding: 10px;
    transition: ease;
} */
.fa-brands{
    font-size: 100px;
}
.ic1{
    padding: 5%;
}
.ic2{
    padding: 5%;
}
.ic3{
    padding: 5%;
}
.ic4{
    padding: 5%;
}
.ic5{
    padding: 5%;
}
section{
   padding-top: 40px;
   background-color: #000000; 
}

body{
    margin-top:20px;
    color: #bcd0f7;
    background: #1A233A;
}
/* #resume{
    background-image: url(./images/bg_img.jpg);
} */
h1{
    text-align: center;
}

.timeline {
    position: relative;
    background: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5rem;
    margin: 0 auto 1rem auto;
    overflow: hidden;
}
.timeline:after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2px;
    border-right: 2px dashed #4b546f;
    height: 100%;
    display: block;
}

.timeline-row {
    padding-left: 50%;
    position: relative;
    margin-bottom: 30px;
}
.timeline-row .timeline-time {
    position: absolute;
    right: 50%;
    top: 15px;
    text-align: right;
    margin-right: 20px;
    color: #ffffff;
    font-size: 1.5rem;
}
.timeline-row .timeline-time small {
    display: block;
    font-size: 0.8rem;
}
.timeline-row .timeline-content {
    position: relative;
    padding: 20px 30px;
    background: #9694f7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.timeline-row .timeline-content:after {
    content: "";
    position: absolute;
    top: 20px;
    height: 16px;
    width: 16px;
    background: #1a233a;
}
.timeline-row .timeline-content:before {
    content: "";
    position: absolute;
    top: 20px;
    right: -49px;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    z-index: 10;
    background: #272e48;
    border: 2px dashed #4b546f;
}
.timeline-row .timeline-content h4 {
    margin: 0 0 20px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 150%;
}
.timeline-row .timeline-content p {
    margin-bottom: 30px;
    line-height: 150%;
}
/* .timeline-row .timeline-content i {
    font-size: 1.2rem;
    line-height: 100%;
    padding: 15px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: cornflowerblue;
    margin-bottom: 10px;
    display: inline-block;
} */
.timeline-row .timeline-content .thumbs {
    margin-bottom: 20px;
    display: flex;
}
.timeline-row .timeline-content .thumbs img {
    margin: 5px;
    max-width: 60px;
}
.timeline-row .timeline-content .badge {
    color: #ffffff;
    background: linear-gradient(120deg, #00b5fd 0%, #0047b1 100%);
}
.timeline-row:nth-child(even) .timeline-content {
    margin-left: 40px;
    text-align: left;
}
.timeline-row:nth-child(even) .timeline-content:after {
    left: -8px;
    right: initial;
    border-bottom: 0;
    border-left: 0;
    transform: rotate(-135deg);
}
.timeline-row:nth-child(even) .timeline-content:before {
    left: -52px;
    right: initial;
}
.timeline-row:nth-child(odd) {
    padding-left: 0;
    padding-right: 50%;
}
.timeline-row:nth-child(odd) .timeline-time {
    right: auto;
    left: 50%;
    text-align: left;
    margin-right: 0;
    margin-left: 20px;
}
.timeline-row:nth-child(odd) .timeline-content {
    margin-right: 40px;
}
.timeline-row:nth-child(odd) .timeline-content:after {
    right: -8px;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
}

.tired{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 50px;
}

.container_proj {
    position: relative;
    margin-top: 50px;
    width: 250px;
    height: 250px;
  }
/* .container_proj2{
    position: relative;
    margin-top: 50px;
    width: 500px;
    height: 300px;
} */
 /* .container_proj2{
    position: relative;
    right: 3%;
    margin-top: 50px;
    width: 500px;
    height: 400px;
    
 }  */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
  }
  
  .container_proj:hover .overlay {
    display: block;
    background: rgba(0, 0, 0, .3);
  }
  /* .container_proj2:hover .overlay{
    display: block;
    background: rgba(0, 0, 0, .3);
  } */

  .img_pro {
      position: absolute;
    width: 250px;
    height: 250px;
    margin: 5px;
  }
  
  .titlesP {
    position: absolute;
    margin-left: 10%;;
    top: 70px;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
  }
  
  .container_proj:hover .title {
    top: 90px;
  }
  .container_proj2:hover .title{
    top: 90px;
  }
  
  .button {
    position: relative;
    width: 100%;
    left:0;
    margin-right: 5px;
    margin-left: 20%;
    top: 140px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
   display: flex;
   flex-wrap: nowrap;
   
  }
  .download a{
      color: white;
  }
  .button a {
    width: 150px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
  }
  
  .container_proj:hover .button {
    opacity: 1;
  }
  .container_proj2:hover .button{
    opacity: 1;
  }

  #projects{
      background-image: url(./images/project\ backgr.jpg);
      min-height: 700px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }

  #demo{
    background: linear-gradient(112deg, #ffffff 50%, antiquewhite 50%);
    max-width: 900px;
    margin: auto;
}
.carousel-caption {
    position: relative;
    z-index: 10;
    padding: 5rem 8rem;
    color: rgba(78, 77, 77, 0.856);
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: bold;
    line-height: 2rem;
    margin-top: 95%;
}
.carousel-caption img{
    width: 6rem;
    border-radius: 5rem;
    margin-top: 2rem;
}
.testi{
    background-color: rgb(223, 56, 89);
    padding: 1.4rem;
}
.testi_words{
    margin-top: 15px;
}
#testimonials{
    background-image: url(./images/landing.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
  }
  /* .{
      margin-top: 200px;
  } */
  .carousel-item {
    background-color: #000000;
  }
  /* .carousel-caption {
     position: relative;
      bottom: initial;
  } */
  .carousel-padding{
    padding-bottom: 120px;
  }
  .sun{
    width: 300px;
    height: 400px;
    margin-bottom: 100px;
  }
  .jay-jay{
    width: 300px;
    height: 400px;
    margin-bottom: 100px;
  }
  .chan{
    width: 300px;
    height: 400px;
    margin-bottom: 100px;
  }


.carousel-control-prev{
    justify-content: flex-start;
}

.carousel-control-next {
    justify-content: flex-end;
}
.carousel-control-prev,.carousel-control-next{
    transition: none;
    opacity: unset;
}


  /* #contact {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  } */
  .form {
    width: 100%;
    margin-right: 20px;
  }
  .cont_head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-family: sans-serif;
   
  }
  .label {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: sans-serif;
    margin-bottom: 40px;
    margin-right: 50%;
    
  }
  .contact_lab{
      margin-left: 40%;
  }
  .submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: sans-serif;
    width:380px;
    color: #000000;
    margin-right: 50%
  }

  .footer-basic {
    padding: 50px 0;
    background-color: #FFFFFF;
    color: #4B4C4D;
    margin-top: 40px;
  }
   .footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
  }
   .footer-basic li {
    padding: 0 10px;
  }
   .footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
  }
   .footer-basic ul a:hover {
    opacity: 1;
  }
   .footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
  }
   .footer-basic .social > a {
    font-size: 32px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
  }
   .footer-basic .social > a:hover {
    opacity: 0.9;
  }
   .footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
  }





@media screen and (max-width:1200px) {
    img.pom{
        display: none;
    }
   
}
@media screen and (max-width:1200px) {
    #home{
        background-image: none;
    }
    #home{
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    #home .container{
        margin-left: 30%;
    }
   
}
@media screen and (max-width:770px) {
    .word_landing{
        margin-top: 300px;
    }
}
 

@media screen and (max-width: 1300px) {
    .about_img{
       width: 85%;
       
    }
}
@media screen and (max-width:628px) {
    .download{
width: 35%;
    }
}
@media screen and (max-width:1045px) {
    .progress_bar{
       margin-left: 25%;
    } 
}
@media screen and (max-width:1045px) {
    #icons{
        margin-left: 25%;
    }
}
@media screen and (max-width:870px) {
    .tired{
        flex-wrap: wrap;
    }
}
@media screen and (max-width:1196px) {
    .submit{
        width: 50%;
        
    }
}
  
@media (max-width: 992px) {
    .timeline {
        padding: 15px;
    }
    .timeline:after {
        border: 0;
    }
    .timeline .timeline-row:nth-child(odd) {
        padding: 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-time {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 0 10px 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content {
        margin: 0;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content:before {
        display: none;
    }
    .timeline .timeline-row:nth-child(odd) .timeline-content:after {
        display: none;
    }
    .timeline .timeline-row:nth-child(even) {
        padding: 0;
    }
    .timeline .timeline-row:nth-child(even) .timeline-time {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 0 10px 0;
        text-align: left;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content {
        margin: 0;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content:before {
        display: none;
    }
    .timeline .timeline-row:nth-child(even) .timeline-content:after {
        display: none;
    }
}

@media(max-width:767px){
    .carousel-caption {
        position: initial;
        z-index: 10;
        padding: 3rem 2rem;
        color: rgba(78, 77, 77, 0.856);
        text-align: center;
        font-size: 0.7rem;
        font-style: italic;
        font-weight: bold;
        line-height: 1.5rem;
    }
}
@media(max-width:767px){
    .carousel-caption img{
        width: 4rem;
        border-radius: 4rem;
        margin-top: 1rem;
    }
}
@media(max-width:767px){
    #image-caption{
        font-style: normal;
        font-size: 0.6rem;
        margin-top: 0.5rem;
    }
}
@media(max-width:767px){
    .testi{
        padding: 0.8rem;
    }
}